<ion-header [translucent]="true">
  <ion-toolbar color="medium" >
    <ion-title>
      Prediction with Advanced Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header> Bar Chart </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header> Doughnut Chart </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header> Line Chart </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
  </div>




</ion-content>
