<ion-header [translucent]="true">
  <ion-toolbar color="medium" >
    <ion-title class="strong-title" >
      Prediction with Advanced Analytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" [fullscreen]="true">
  <div class="ion-padding">
    <!-- <ion-card>
      <ion-card-header> Bar Chart </ion-card-header>
      <ion-card-content>
        <div class="chart-container">
           <canvas  id="MyChart" >{{ chart }}</canvas>
        </div>

      </ion-card-content>
    </ion-card>-->
    <ion-card color="dark" >
      <ion-card-header class="strong" > Count of Problem Cause </ion-card-header>
      <ion-card-content>
        <canvas  id="MyChart" >{{ chart }}</canvas>
      </ion-card-content>
    </ion-card>
    <ion-card color="dark" >
      <ion-card-header class="strong"> Probablitiy of Problem Cause </ion-card-header>
      <ion-card-content>
        <canvas  id="Pie" >{{ pie }}</canvas>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header> Line Chart </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card> -->
  </div>




</ion-content>
