.strong{
  font-size: large;
  text-align: center;
}
.strong-title{

  text-align: center;
  font-size: large;
  font-weight: bolder;
  //margin-top: 20px;

}
.box-m{
  height: 100%;
  margin:0% ;
}
.box{
  height: 100%;
  color: white !important;

}
.flex-container {
  display: flex;
  width: 100%;
}
.right-align {
  color: #000000;
  font-size: larger;
  display: flex;
  justify-content: right;
}
.header{
  background-color: #ffff00 ;
  color:black;
  font-weight: bold;
  text-align: center;


}
