.table{
  //background-color: #909090;
  margin-top: 20px;

}
.grey{
  background-color:red ;
}
.main{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 20px;
}

.ticket{
  color: yellow;
}
.heading{
  font-size: larger;
  font-weight: bolder;
  background-color: black;

}
.light-grey{
 background-color:  black;
}
