.table{
  background-color: rgb(59, 56, 56);


}
.grey{
  background-color:red ;
}
.main{
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
 // margin-top: 20px;
}
.flex-container {
  display: flex;
  width: 100%;
}
.right-align{
  justify-content: right;
  display: flex;

}


.ticket{
  color: yellow;
}
.heading{
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  //background-color: black;

}

.light-grey{
  font-size: smaller;
}
.title{
  color: red;
  text-align: center;
}
.box{
  max-height: 100%;
  margin: 0;
}
.parent{
  display: flex;
  justify-content:space-around ;
  //max-width: 100%;
}
