<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="main">
      <div class="flex-container">
        <div class="flex-container">
          <ion-label class="" size="large"
            ><img [src]="imagePath" style="width: 60px; height: 40px"
          /></ion-label>
        </div>
        <div>
          <ion-label style="margin-top: 8px" class="right-align" size="large"
            ><img [src]="landImage" style="width: 60px; height: 40px"
          /></ion-label>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <body class="box" >
<ion-content   color="dark" [fullscreen]="true">

<div class="box" >
  <ion-grid class="table" style="background-color: rgb(59, 56, 56);" >
<div >
 <div >
      <h3 style="background-color: rgb(59, 56, 56); text-align: center;">Service Tickets</h3>
    </div>





  <div>
    <ion-row class="heading" >


      <ion-col  style="max-width:15%  ;  " >Alert ID</ion-col>
      <ion-col>Ticket ID</ion-col>
      <ion-col>Description</ion-col>
    </ion-row>
  </div>
  <div>

    <ion-row class="light-grey" *ngFor="let ticket of tickets; index as i">

      <ion-col style="max-width:15% ;"  >{{ ticket.alertid}}</ion-col>
      <ion-col class="ticket" >{{ ticket.ticketid }}</ion-col>
      <ion-col>{{ ticket.description }}</ion-col>
    </ion-row>
  </div>
</div>
  </ion-grid>


</div>
<table style="height:100%;width:100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;border:1px solid">
  <tr style="height: 25%;">
     <td>Region</td>
 </tr>
 <tr style="height: 75%;">
     <td>100.00%</td>
 </tr>
</table>
</ion-content>
</body> -->
<ion-content color="dark">
  <!-- <body class="box" style="max-height: 100%;">
    <div style="background-color: rgb(59, 56, 56);" >
    <div style=" text-align: center; width: 100%;background-color: yellow;color: black;max-height: 40%;">
      <h3  style="text-align:centre ;" >Service Tickets</h3>
    </div>
    <div class="box" style="max-height: 100%;">
    <div class="parent box" style="max-height: 100%;">
      <p  >Alert ID</p>
      <p>Ticket ID</p>
      <p>Status</p>
      </div> -->
      <!-- <tr class="parent">
        <td>Alert ID</td>
        <td>Ticket ID</td>
        <td>Status</td>
      </tr> -->
      <!-- <div class="box">
      <tr  *ngFor="let ticket of tickets; index as i" class="parent">
        <td  >{{ ticket.alertid}}</td>
        <td >{{ ticket.ticketid }}</td>
        <td  >{{ ticket.status }}</td>
      </tr>
    </div>
  </div> -->
      <!-- <ion-row class="light-grey" *ngFor="let ticket of tickets; index as i">

        <ion-col style="max-width:15% ;"  >{{ ticket.alertid}}</ion-col>
        <ion-col class="ticket" >{{ ticket.ticketid }}</ion-col>
        <ion-col>{{ ticket.description }}</ion-col>
      </ion-row> -->
      <!-- <div *ngFor="let ticket of tickets; index as i" class="parent">
        <p>{{ ticket.alertid}}</p>
        <p>{{ ticket.ticketid }}</p>
        <p>{{ ticket.description }}</p>

      </div> -->
    <!-- </div>


  </body> -->
  <p class="heading table" style="margin-bottom: 0;" >Service Tickets</p>
  <table  class="table" style="width: 100%; height: 90%;">
    
    <tr>
      <td>Alert ID</td>
      <td>Ticket ID</td>
      <td>Status</td>
    </tr>
    <tr  *ngFor="let ticket of tickets">
      <td  >{{ ticket.alertid}}</td>
        <td  style="color:yellow ;">{{ ticket.ticketid }}</td>
        <td  >{{ ticket.status }}</td>
    </tr>
  </table>


</ion-content>
